<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasWithBothOptions"
  aria-labelledby="offcanvasWithBothOptionsLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
      Backdrop with scrolling
    </h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="field-list-wrapper">
      <div>
        <form [formGroup]="searchForm">
          <mat-form-field class="input-fields-height">
            <mat-label>Search</mat-label>
            <input matInput formControlName="search" (input)="search($event)" />
            <button mat-icon-button matSuffix (click)="cancelSearch()">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
      <div *ngFor="let category of groupCategoryList | keyvalue; let i = index">
        <mat-checkbox (change)="selectUnselectGroup($event, category.key)">
          <h4 class="checkbox-list-heading">{{ category.key }}</h4>
        </mat-checkbox>
        <div *ngFor="let field of category.value; let i = index">
          <mat-checkbox
            [checked]="field.isVisible"
            (change)="addRemoveControls($event.checked, field, 'checkbox', i)"
            style="margin-left: 30px"
          >
            {{ field.label }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid d-flex" style="flex-direction: column">
  <div class="mt-3 me-3 d-flex justify-content-end">
    <button *ngIf="!mode.includes('edit-product')"
      mat-stroked-button
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasWithBothOptions"
      aria-controls="offcanvasWithBothOptions"
    >
      Add Fields
    </button>
  </div>
  <div class="form-wrapper" *ngIf="!isPageBlank">
    <form [formGroup]="productDetailsForm">
      <ng-container
        *ngIf="
          fieldsList[0].isVisible ||
          fieldsList[1].isVisible ||
          fieldsList[2].isVisible ||
          fieldsList[3].isVisible ||
          fieldsList[4].isVisible ||
          fieldsList[5].isVisible ||
          fieldsList[6].isVisible ||
          fieldsList[7].isVisible ||
          fieldsList[8].isVisible ||
          fieldsList[9].isVisible ||
          fieldsList[10].isVisible ||
          fieldsList[11].isVisible ||
          fieldsList[12].isVisible ||
          fieldsList[13].isVisible ||
          fieldsList[14].isVisible ||
          fieldsList[15].isVisible ||
          fieldsList[16].isVisible ||
          fieldsList[17].isVisible
        "
      >
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
            expanded="true"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Basic Information</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-6" *ngIf="fieldsList[0].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Product Name</mat-label>
                  <input matInput formControlName="productName" />
                  <button
                    *ngIf="!fieldsList[0].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('productName')"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[0].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <mat-error
                    *ngIf="
                      productName?.invalid &&
                      (productName?.dirty || productName?.touched)
                    "
                  >
                    <span *ngIf="productName?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[1].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Product Description</mat-label>
                  <textarea
                    matInput
                    formControlName="productDescription"
                  ></textarea>
                  <button
                    *ngIf="!fieldsList[1].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('productDescription')"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[1].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <mat-error
                    *ngIf="
                      productDescription?.invalid &&
                      (productDescription?.dirty || productDescription?.touched)
                    "
                  >
                    <span *ngIf="productDescription?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[2].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Product Tageline</mat-label>
                  <input matInput formControlName="productTagline" />
                  <button
                    *ngIf="!fieldsList[2].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('productTagline')"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[2].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="delete-field"
                    (click)="deleteControl(fieldsList[2])"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      productTagline?.invalid &&
                      (productTagline?.dirty || productTagline?.touched)
                    "
                  >
                    <span *ngIf="productTagline?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[3].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Product Code</mat-label>
                  <input
                    matInput
                    formControlName="productCode"
                    placeholder="Product Code"
                  />
                  <button
                    *ngIf="!fieldsList[3].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('productCode')"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[3].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <mat-error
                    *ngIf="
                      productCode?.invalid &&
                      (productCode?.dirty || productCode?.touched)
                    "
                  >
                    <span *ngIf="productCode?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[4].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Product Status</mat-label>
                  <mat-select
                    placeholder="Product Status"
                    formControlName="productStatus"
                  >
                    <mat-option value="work_in_progress"
                      >Work in progress</mat-option
                    >
                    <mat-option value="completed">Completed</mat-option>
                  </mat-select>
                  <button
                    *ngIf="!fieldsList[4].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('productStatus', $event)"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[4].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <mat-error
                    *ngIf="
                      productStatus?.invalid &&
                      (productStatus?.dirty || productStatus?.touched)
                    "
                  >
                    <span *ngIf="productStatus?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[5].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Category</mat-label>
                  <mat-select placeholder="Category" formControlName="category">
                    <mat-option value="term">Term</mat-option>
                    <mat-option value="long">Long</mat-option>
                  </mat-select>
                  <button
                    *ngIf="!fieldsList[5].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('category', $event)"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[5].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <mat-error
                    *ngIf="
                      category?.invalid &&
                      (category?.dirty || category?.touched)
                    "
                  >
                    <span *ngIf="category?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>

              <div formArrayName="coverage" *ngIf="fieldsList[6].isVisible">
                <mat-divider></mat-divider>
                <div
                  class="row mt-4"
                  style="margin-bottom: 0px !important"
                  *ngFor="let coverageGrp of coverage.controls; let i = index"
                  [formGroupName]="i"
                >
                  <div class="col-md-5">
                    <mat-form-field class="input-fields-height">
                      <mat-label>Coverage Code {{ i + 1 }}</mat-label>
                      <input matInput formControlName="coverageCode" />

                      <mat-error
                        *ngIf="
                          coverage.at(i).get('coverageCode')?.invalid &&
                          (coverage.at(i).get('coverageCode')?.dirty ||
                            coverage.at(i).get('coverageCode')?.touched)
                        "
                      >
                        <span
                          *ngIf="coverage.at(i).get('coverageCode')?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-5">
                    <mat-form-field class="input-fields-height">
                      <mat-label>Coverage Name {{ i + 1 }}</mat-label>
                      <input matInput formControlName="coverageName" />

                      <mat-error
                        *ngIf="
                          coverage.at(i).get('coverageName')?.invalid &&
                          (coverage.at(i).get('coverageName')?.dirty ||
                            coverage.at(i).get('coverageName')?.touched)
                        "
                      >
                        <span
                          *ngIf="coverage.at(i).get('coverageName')?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <button
                      mat-icon-button
                      (click)="removeCoverage(i)"
                      *ngIf="coverage?.controls?.length > 1"
                    >
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </div>
                </div>
                <button
                *ngIf="!mode.includes('edit-product')"
                  class="mb-4"
                  mat-stroked-button
                  (click)="addCoverage()"
                  type="button"
                >
                  Add Coverage
                </button>
                <mat-divider class="mb-4"></mat-divider>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[7].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Riders Applicable</mat-label>
                  <mat-select
                    placeholder="Riders Applicable"
                    formControlName="ridersApplicable"
                  >
                    <mat-option value="yes">Yes</mat-option>
                    <mat-option value="no">No</mat-option>
                  </mat-select>
                  <button
                    *ngIf="!fieldsList[7].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('ridersApplicable', $event)"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[7].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <mat-error
                    *ngIf="
                      ridersApplicable?.invalid &&
                      (ridersApplicable?.dirty || ridersApplicable?.touched)
                    "
                  >
                    <span *ngIf="ridersApplicable?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[8].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="rentalCarDamage"
                        (change)="riderCheckBox($event, 'rentalCarDamage')"
                      >
                      Rental car damage
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          rentalCarDamage?.invalid &&
                          (rentalCarDamage?.dirty || rentalCarDamage?.touched)
                        "
                      >
                        <span *ngIf="rentalCarDamage?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="rentalCarDamageRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[9].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="petTravelCoverage"
                        (change)="riderCheckBox($event, 'petTravelCoverage')"
                      >
                      Pet travel coverage
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          petTravelCoverage?.invalid &&
                          (petTravelCoverage?.dirty || petTravelCoverage?.touched)
                        "
                      >
                        <span *ngIf="petTravelCoverage?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="petTravelCoverageRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[10].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="liquidDamageProtection"
                        (change)="riderCheckBox($event, 'liquidDamageProtection')"
                      >
                      Liquid Damage Protection
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          liquidDamageProtection?.invalid &&
                          (liquidDamageProtection?.dirty || liquidDamageProtection?.touched)
                        "
                      >
                        <span *ngIf="liquidDamageProtection?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="liquidDamageProtectionRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[11].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="screenDamageProtection"
                        (change)="riderCheckBox($event, 'screenDamageProtection')"
                      >
                      Screen Damage Protection
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          screenDamageProtection?.invalid &&
                          (screenDamageProtection?.dirty || screenDamageProtection?.touched)
                        "
                      >
                        <span *ngIf="screenDamageProtection?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="screenDamageProtectionRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[12].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="lostMobileProtection"
                        (change)="riderCheckBox($event, 'lostMobileProtection')"
                      >
                      Lost Mobile Protection
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          lostMobileProtection?.invalid &&
                          (lostMobileProtection?.dirty || lostMobileProtection?.touched)
                        "
                      >
                        <span *ngIf="lostMobileProtection?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="lostMobileProtectionRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[13].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="theftProtection"
                        (change)="riderCheckBox($event, 'theftProtection')"
                      >
                      Theft Protection
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          theftProtection?.invalid &&
                          (theftProtection?.dirty || theftProtection?.touched)
                        "
                      >
                        <span *ngIf="theftProtection?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="theftProtectionRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[14].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="zeroDepreciation"
                        (change)="riderCheckBox($event, 'zeroDepreciation')"
                      >
                      Zero Depreciation/ Nil Depreciation
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          zeroDepreciation?.invalid &&
                          (zeroDepreciation?.dirty || zeroDepreciation?.touched)
                        "
                      >
                        <span *ngIf="zeroDepreciation?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="zeroDepreciationRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[15].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="engineProtection"
                        (change)="riderCheckBox($event, 'engineProtection')"
                      >
                      Engine Protection
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          engineProtection?.invalid &&
                          (engineProtection?.dirty || engineProtection?.touched)
                        "
                      >
                        <span *ngIf="engineProtection?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="engineProtectionRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[16].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="roadsideAssistance"
                        (change)="riderCheckBox($event, 'roadsideAssistance')"
                      >
                      Roadside Assistance
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          roadsideAssistance?.invalid &&
                          (roadsideAssistance?.dirty || roadsideAssistance?.touched)
                        "
                      >
                        <span *ngIf="roadsideAssistance?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="roadsideAssistanceRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6" *ngIf="fieldsList[17].isVisible">
                  <div class="row">
                    <div class="col-md-4">
                      <mat-checkbox
                        formControlName="keyLossProtection"
                        (change)="riderCheckBox($event, 'keyLossProtection')"
                      >
                      Key Loss Protection
                      </mat-checkbox>
                      <mat-error
                        *ngIf="
                          keyLossProtection?.invalid &&
                          (keyLossProtection?.dirty || keyLossProtection?.touched)
                        "
                      >
                        <span *ngIf="keyLossProtection?.errors?.['required']"
                          >This information is required.</span
                        >
                      </mat-error>
                    </div>
                    <div class="col-md-8">
                      <mat-radio-group
                        aria-label="undefined"
                        role="radiogroup"
                        id="radio-group-label-1"
                        aria-labelledby="radio-group-label-1"
                        aria-describedby="radio-group-label-1"
                        formControlName="keyLossProtectionRadio"
                      >
                        <mat-radio-button value="mandatory">
                          Mandatory
                        </mat-radio-button>
                        <mat-radio-button value="optional">
                          Optional
                        </mat-radio-button>
                      </mat-radio-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>
      <ng-container
        *ngIf="
          fieldsList[18].isVisible ||
          fieldsList[19].isVisible ||
          fieldsList[20].isVisible
        "
      >
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
            class="mt-3"
            expanded="true"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Underwriting Details</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-6" *ngIf="fieldsList[18].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Underwriting Guideline</mat-label>
                  <textarea
                    matInput
                    formControlName="underwritingGuidelines"
                  ></textarea>
                  <button
                    *ngIf="!fieldsList[18].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('underwritingGuidelines')"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[18].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="delete-field"
                    (click)="deleteControl(fieldsList[18])"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      underwritingGuidelines?.invalid &&
                      (underwritingGuidelines?.dirty ||
                        underwritingGuidelines?.touched)
                    "
                  >
                    <span *ngIf="underwritingGuidelines?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[19].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Underwriting Requirements</mat-label>
                  <mat-select
                    placeholder="Product Status"
                    formControlName="underwritingRequirements"
                    multiple
                  >
                    <mat-option value="medical_examination"
                      >Medical Examination</mat-option
                    >
                    <mat-option value="health_questionnaire"
                      >Health Questionnaire</mat-option
                    >
                    <mat-option value="lifestyle_information"
                      >Lifestyle Information</mat-option
                    >
                    <mat-option value="family_medical_history"
                      >Family Medical History</mat-option
                    >
                  </mat-select>
                  <button
                    *ngIf="!fieldsList[19].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="
                      openCommentDialog('underwritingRequirements', $event)
                    "
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[19].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="delete-field"
                    (click)="deleteControl(fieldsList[19])"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      underwritingRequirements?.invalid &&
                      (underwritingRequirements?.dirty ||
                        underwritingRequirements?.touched)
                    "
                  >
                    <span *ngIf="underwritingRequirements?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[20].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Risk Assessment Criteria</mat-label>
                  <textarea
                    matInput
                    formControlName="riskAssessCriteria"
                  ></textarea>
                  <button
                    *ngIf="!fieldsList[20].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('riskAssessCriteria')"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[20].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="delete-field"
                    (click)="deleteControl(fieldsList[20])"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      riskAssessCriteria?.invalid &&
                      (riskAssessCriteria?.dirty || riskAssessCriteria?.touched)
                    "
                  >
                    <span *ngIf="riskAssessCriteria?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>

      <ng-container
        *ngIf="
          fieldsList[21].isVisible ||
          fieldsList[22].isVisible ||
          fieldsList[23].isVisible
        "
      >
        <mat-accordion>
          <mat-expansion-panel
            (opened)="panelOpenState.set(true)"
            (closed)="panelOpenState.set(false)"
            class="mt-3"
            expanded="true"
          >
            <mat-expansion-panel-header>
              <mat-panel-title>Premium Details</mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-6" *ngIf="fieldsList[21].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Refundable Premium</mat-label>
                  <mat-select
                    placeholder="Product Status"
                    formControlName="refundablePrem"
                  >
                    <mat-option value="yes">Yes</mat-option>
                    <mat-option value="no">No</mat-option>
                  </mat-select>
                  <button
                    *ngIf="!fieldsList[21].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('refundablePrem', $event)"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[21].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="delete-field"
                    (click)="deleteControl(fieldsList[21])"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      refundablePrem?.invalid &&
                      (refundablePrem?.dirty || refundablePrem?.touched)
                    "
                  >
                    <span *ngIf="refundablePrem?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[22].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Tax Benefits</mat-label>
                  <mat-select
                    placeholder="Product Status"
                    formControlName="taxBenefits"
                  >
                    <mat-option value="yes">Yes</mat-option>
                    <mat-option value="no">No</mat-option>
                  </mat-select>
                  <button
                    *ngIf="!fieldsList[22].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('taxBenefits', $event)"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[22].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="delete-field"
                    (click)="deleteControl(fieldsList[22])"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      taxBenefits?.invalid &&
                      (taxBenefits?.dirty || taxBenefits?.touched)
                    "
                  >
                    <span *ngIf="taxBenefits?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-md-6" *ngIf="fieldsList[23].isVisible">
                <mat-form-field class="input-fields-height">
                  <mat-label>Renewal</mat-label>
                  <mat-select
                    placeholder="Product Status"
                    formControlName="renewal"
                  >
                    <mat-option value="automatic">Automatic</mat-option>
                    <mat-option value="manual">Manual</mat-option>
                    <mat-option value="not_applicable"
                      >Not Applicable</mat-option
                    >
                  </mat-select>
                  <button
                    *ngIf="!fieldsList[23].hasOwnProperty('comments')"
                    matSuffix
                    mat-icon-button
                    aria-label="comment"
                    matTooltip="Add Comments"
                    class="add-comment"
                    (click)="openCommentDialog('renewal', $event)"
                  >
                    <mat-icon>comment</mat-icon>
                  </button>
                  <div class="notification-icon" *ngIf="hasComments(fieldsList[23].formControlName)">
                    <mat-icon>mark_chat_read</mat-icon>
                  </div>
                  <button
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    class="delete-field"
                    (click)="deleteControl(fieldsList[23])"
                  >
                    <mat-icon>delete</mat-icon>
                  </button>
                  <mat-error
                    *ngIf="
                      renewal?.invalid && (renewal?.dirty || renewal?.touched)
                    "
                  >
                    <span *ngIf="renewal?.errors?.['required']"
                      >This information is required.</span
                    >
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </ng-container>

      <div class="form-btn-wrapper">
        <!-- <button mat-flat-button color="primary" class="mt-3">Save as
                    Draft</button> -->
        <button
          mat-flat-button
          color="primary"
          class="mt-3"
          [disabled]="productDetailsForm.invalid"
          matStepperNext
          (click)="nextData()"
        >
          Next
        </button>
      </div>
    </form>
  </div>
  <div
    class="form-wrapper d-flex justify-content-center w-100"
    *ngIf="isPageBlank"
  >
    Begin crafting your product by selecting fields from the left sidebar to add
    them to your template.
  </div>
</div>
